@import 'variables';

.col-card{
    padding: 16px 0;
}

.right-btn{ 
    width: fit-content;
    margin-left: auto;
    padding-right: .75rem;
}

.select-all-options{
    width: 12rem;
    margin: 0 .25rem;
}
